
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading ">
      <img src="../assets/Logo.jpg">
      IRHD </div>
    <div class="list-group list-group-flush bg-dark">
      <a class="nav-item active list-group-item list-group-item-action bg-dark" (click)="afficher('inventaire')">inventaire</a>
      <a class="nav-item active list-group-item list-group-item-action bg-dark" (click)="afficher('materiels')">Materiel pedagogique</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <app-header></app-header>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
