<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Formulaire d'ajout d'une équipe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <app-formulaireequipe></app-formulaireequipe>
  </div>
</ng-template>
<button type="button" class="add btn btn-success" (click)="openVerticallyCentered(content)"><i class="fa fa-plus" aria-hidden="true"></i>Ajouter</button>

